apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-app-config
  namespace: backstage
data:
  app-config.yaml: |
    app:
      title: CryptoLab IDP
      baseUrl: http://localhost:7007

    organization:
      name: CryptoLab

    backend:
      baseUrl: http://localhost:7007
      listen:
        port: 7000
      
      reading:
        allow:
          - host: '*'

      csp:
        connect-src: ["'self'", 'http:', 'https:']
      cors:
        origin: http://localhost:7007
        methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
        credentials: true
      database:
        client: better-sqlite3
        connection: ':memory:'

    integrations:
      github:
        - host: github.com
          token: ${GITHUB_TOKEN}
        - host: raw.githubusercontent.com
          token: ${GITHUB_TOKEN}

    techdocs:
      builder: 'local'
      generator:
        runIn: 'local'
      publisher:
        type: 'local'

    catalog:
      import:
        entityFilename: catalog-info.yaml
      rules:
        - allow: [Component, System, API, Resource, Location, Template]
      locations:
        - type: url
          target: https://raw.githubusercontent.com/Diegohnunes/crypto-platform-ops/main/idp/catalog-info.yaml
          # REMOVIDO: "rules: - allow: [Template]"
          # Se deixarmos aquela regra, ele bloqueia o arquivo catalog-info.yaml
          # pois ele é do tipo "Location", não "Template".
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
  namespace: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      containers:
      - name: backstage
        image: roadiehq/community-backstage-image:latest
        ports:
        - containerPort: 7000
          name: http
        env:
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: backstage-github-token
              key: GITHUB_TOKEN
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        volumeMounts:
        - name: app-config
          mountPath: /app/app-config.yaml
          subPath: app-config.yaml
      volumes:
      - name: app-config
        configMap:
          name: backstage-app-config
---
apiVersion: v1
kind: Service
metadata:
  name: backstage
  namespace: backstage
spec:
  selector:
    app: backstage
  ports:
    - port: 7007
      targetPort: 7000
      name: http
  type: ClusterIP