apiVersion: v1
kind: PersistentVolume
metadata:
  name: crypto-shared-pv
  labels:
    type: shared
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /tmp/crypto-data
