apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: crypto-shared-storage-v3
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual
  volumeName: crypto-shared-pv-v3
