apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: crypto-shared-storage-v2
  namespace: eth-app
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual
  volumeName: crypto-shared-pv
