apiVersion: apps/v1
kind: Deployment
metadata:
  name: btc-collector
  namespace: btc-app
  labels:
    app: btc-collector
    coin: BTC
    type: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: btc-collector
  template:
    metadata:
      labels:
        app: btc-collector
        coin: BTC
        type: collector
    spec:
      securityContext:
        fsGroup: 2000
        runAsUser: 1000
        runAsGroup: 2000
      initContainers:
        - name: fix-permissions
          image: busybox
          command: ["sh", "-c", "mkdir -p /data/raw && chown -R 1000:2000 /data/raw"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: shared-data
              mountPath: /data
      containers:
        - name: btc-collector
          image: diegohnunes/btc-collector:v2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          envFrom:
            - configMapRef:
                name: btc-collector-config
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: crypto-shared-storage