alertmanager:
  enabled: false
pushgateway:
  enabled: false
nodeExporter:
  enabled: false
kubeStateMetrics:
  enabled: false
server:
  global:
    scrape_interval: 1m
    scrape_timeout: 10s
    evaluation_interval: 1m
  retention: "1h"
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
  persistentVolume:
    enabled: false # Ephemeral for lab
configmapReload:
  prometheus:
    enabled: false
