apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: cryptolab
servers: 1
agents: 0
image: rancher/k3s:v1.27.4-k3s1

ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
options:
  k3d:
    wait: true
    timeout: "60s"
    disableLoadbalancer: false
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
      - arg: --disable=servicelb
        nodeFilters:
          - server:*
