apiVersion: apps/v1
kind: Deployment
metadata:
  name: sol-collector
  namespace: sol-app
  labels:
    app: sol-collector
    coin: SOL
    type: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sol-collector
  template:
    metadata:
      labels:
        app: sol-collector
        coin: SOL
        type: collector
    spec:
      containers:
        - name: sol-collector
          image: diegohnunes/btc-collector:v1.3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          envFrom:
            - configMapRef:
                name: sol-collector-config
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi