apiVersion: apps/v1
kind: Deployment
metadata:
  name: bnb-collector
  namespace: default
  labels:
    app: bnb-collector
    coin: BNB
    type: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bnb-collector
  template:
    metadata:
      labels:
        app: bnb-collector
        coin: BNB
        type: collector
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
    spec:
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - crypto-ingestor
                topologyKey: "kubernetes.io/hostname"
      initContainers:
        - name: fix-permissions
          image: busybox
          command: ["sh", "-c", "mkdir -p /data/raw && chown -R 1000:2000 /data/raw"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: shared-data
              mountPath: /data
      containers:
        - name: bnb-collector
          image: diegohnunes/bnb-collector:v2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          envFrom:
            - configMapRef:
                name: bnb-collector-config
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: crypto-shared-storage-v3