global:
  postgresql:
    auth:
      postgresPassword: "password"
      username: "bn_backstage"
      database: "backstage_db"

upstream:
  backstage:
    image:
      registry: docker.io
      repository: bitnami/backstage
      tag: 1.20.0-debian-11-r0 # Pinned version for stability
    
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 256Mi

    extraEnvVars:
      - name: GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            name: backstage-github-token
            key: GITHUB_TOKEN

    appConfig:
      app:
        baseUrl: http://localhost:7007
        title: CryptoLab IDP
      backend:
        baseUrl: http://localhost:7007
        database:
          client: pg
          connection:
            host: postgresql.backstage.svc.cluster.local
            port: 5432
            user: bn_backstage
            password: password
      integrations:
        github:
          - host: github.com
            token: ${GITHUB_TOKEN}
      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location, Template]
      scaffolder:
        defaultAuthor:
          name: Scaffolder
          email: scaffolder@backstage.io
        defaultCommitMessage: "Scaffolding code from Backstage"

postgresql:
  enabled: true
  auth:
    postgresPassword: "password"
    username: "bn_backstage"
    database: "backstage_db"
  primary:
    resources:
      limits:
        cpu: 250m
        memory: 256Mi
      requests:
        cpu: 50m
        memory: 128Mi
    persistence:
      enabled: false # Ephemeral for lab
