apiVersion: apps/v1
kind: Deployment
metadata:
  name: eth-collector
  namespace: eth-app
  labels:
    app: eth-collector
    coin: ETH
    type: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eth-collector
  template:
    metadata:
      labels:
        app: eth-collector
        coin: ETH
        type: collector
    spec:
      containers:
        - name: eth-collector
          image: diegohnunes/btc-collector:v1.3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          envFrom:
            - configMapRef:
                name: eth-collector-config
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi